{% extends 'base.html' %}


{% block tab_name %}ESPAR - About dataset{% endblock %}
{% block title %} A dataset of environmental sensors based smart meeting room for activity recognition {% endblock %}
{% block desc %} Hyunju Kim, ~~~ Scientific data, 2021 ~~~ {% endblock %}

{% block content %}
<p>Smart service provision using IoT are required as roles to help workers effective or efficiency in smart offices......</p>
<p>If you want to receive and use our dataset, please feel free to send us an e-mail through <a href="contact">this link.</a></p>
{% endblock %}
